h1
{
    text-align: right;
    color: orange;
    font-weight: bold;
    font-size: 30px;
    font-family: inherit;
    margin: 10px 1000px 10px 10px;
}

p {
    font-size: 15px;
    color: black;
    font-weight: normal; /*נאחלונ רנטפעא*/
    margin: 20px 1000px 10px 10px;
    text-align: left;
    font-family: inherit;
}
/*
.letter
{
    color: red;
    font-size: 200%;
    font-family: serif;
    position: inherit;
    top: 5px;    /*font-family: 'times new roman';*/

p:first-letter {
    color: red;
    font-size: 200%;
    font-family: serif;
    position: inherit;
    top: 5px;
}
em
{
    background-color: green;
    color: white;
}

