p
{
    color: rgba(37, 166, 50, 0.83);
}
div
 {
    color: red;
    margin-left: 10px;
    margin: 5px 10px 20px 30px;
    background-color: #aad0c1;
    background-image:
    url(http://favicon.yandex.net/favicon/ru.wikipedia.org);
    background-repeat: repeat-x;
    background-position: 50%;
    /* то же самое */
    background:
    #ccc url(http://favicon.yandex.net/favicon/ru.wikipedia.org)
    50% repeat-x;
    border-radius: 3px 12px;
    width: 100px;
}