.sivtsev {
    margin-left: 50px;
    font-family: sans-serif;

}
.sight01 {
    font-size: 4em;
    letter-spacing: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sight02{
    font-size: 3em;
    letter-spacing: 29px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sight03 {
    font-size: 2em;
    letter-spacing: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sight04 {
    font-size: 1.5em;
  letter-spacing: 16px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.sight05 {
    font-size: 1.2em;
    letter-spacing: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.sight06 {
    font-size: 0.8em;
    letter-spacing: 16px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.sight07 {
    font-size: 0.7em;
    letter-spacing: 17px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.sight08 {
    font-size: 0.6em;
    letter-spacing: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.sight09 {
    font-size: 0.5em;
    letter-spacing: 14.8px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.sight10 {
    font-size: 0.4em;
    letter-spacing: 13px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.sight15 {
    font-size: 0.3em;
    letter-spacing: 13.8px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.sight20{
    font-size:0.2em;
    letter-spacing: 13.8px;
    margin-top: 7px;
    margin-bottom: 7px;
}

